# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backup
*.lck

jlcpcb
work
deploy
TODO
*.local

# the following symlink is only there for testing
src.receiver_service/files/usr/local/bin/sensor_meta.py

boot_out.txt
*.pyc
*secrets.py
config.py
ap_config.py
log_config.py
__pycache__

*.stl
*.3mf

src/.vscode
.vscode
BaCkUp
BaCkUpTaRgZ

