# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# src/lib because it is a symlink and the buildsystem copies the correct libs
src/lib

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backup
*.lck

jlcpcb
work
deploy
TODO
*.local

boot_out.txt
*.pyc
*secrets.py
config.py
ap_config.py
log_config.py
__pycache__

*.stl
*.3mf

src/.vscode
.vscode
BaCkUp
BaCkUpTaRgZ

